@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
  @apply my-2;
}

h2{
  @apply text-2xl font-semibold;
}
h3{
  @apply text-lg;
}
/* Headings */

/* Text */
p{
  @apply text-base;
}
/* Text */

/* Nav */
ul > a > li, ul > li{
  @apply cursor-pointer px-4 py-2 z-10 relative text-lg;
}

li .highlight{
  @apply absolute top-0 left-0 w-full h-full bg-blue rounded-tr-lg rounded-tl-lg z-[-1];
}
/* Nav */

/* General layout */
main > div + div{
  @apply mt-24
}
/* General layout */

/* Selection */
::selection{
  @apply text-white bg-red;
}
/* Selection */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
